body{
    background-color: yellow;
}
.container{
    background-color: green;
    height: 100vh;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px solid black;
}
.btn-primary{
    margin: 20px;
    padding: 20px;
    font-size: 50px;
    float: left;
}
.btn-primary{
    margin:20px;
    padding: 20px;
    font-size: 50px;
    float: right;
}
